.noteContainer {
  background-color: aliceblue;
}
.imageContainer {
  display: flex;
  margin-bottom: 10px;
  flex-wrap: wrap;
}

ion-input.customBox {
  --padding-start: 10px;
}

.paintContainer {
  position: relative;
  border: solid 1px black;
  margin-bottom: 1vh;
}

.removeMe {
  position: absolute;
  top: 1.5vh;
  right: 1.5vh;
  z-index: 1000;
}

.noPadding {
  --padding-top: 0px;
  --padding-bottom: 0px;
  --padding-start: 0px;
}

.displayThumb {
  max-width: 100px;
  max-height: 100px;
  margin: auto;
  padding: 2px;
}

.paddingLeft {
  --padding-start: 10px;
}
.toasty {
  --border-color: rgb(255, 0, 0);
  --border-style: solid;
  --border-width: 2px;
}