.noteContainer {
  background-color: aliceblue;
}
.mainImageContainer {
  display: flex;
  margin-bottom: 10px;
  flex-wrap: wrap;
}
.imageContainer {
  
  position: relative;
}
.removeButton {
  height: 2vh;
  width: 2vh;
  color: rgb(255, 255, 255);
  background-color: rgb(255, 0, 0);
  position: absolute;
  top: 2px;
  right: 2px;
  z-index: 1000;
  text-align: center;
}

ion-input.customBox {
  --padding-start: 10px;
}

.paintContainer {
  position: relative;
  border: solid 1px black;
  margin-bottom: 1vh;
}

.removeMe {
  position: absolute;
  top: 1.5vh;
  right: 1.5vh;
  z-index: 1000;
}

.noPadding {
  --padding-top: 0px;
  --padding-bottom: 0px;
  --padding-start: 0px;
}

.displayThumb {
  max-width: 100px;
  max-height: 100px;
  margin: auto;
  padding: 2px;
}

.paddingLeft {
  --padding-start: 10px;
}
.toastyTrying {
  --border-color: rgb(255, 0, 0);
  --color: rgb(0, 0, 0);
  --background: rgb(218, 218, 218);
  --border-style: solid;
  --border-width: 2px;
}
.toastySuccess {
  --border-color: rgb(26, 65, 0);
  --color: rgb(0, 0, 0);
  --background: rgb(102, 255, 0);
  --border-style: solid;
  --border-width: 2px;
}

.buttonGreen {
  --background: green;
}