.paddingRight {
    padding-left: 20px;
}

.titleFlex {
    display: flex;
    width: 100%;
    flex-direction: column;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-right: 30px;
}
.titleh5 {
    margin-bottom: 0px;
    margin-top: 0px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.titlep {
    margin-top: 0px;
    margin-bottom: 0px;
    color: grey;
}

.homeContainer {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.scrollableListContainer {
    flex: 1;
    overflow-y: auto;
}
