.paddingRight {
    padding-left: 20px;
}

.titleFlex {
    display: flex;
}

.homeContainer {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.scrollableListContainer {
    flex: 1;
    overflow-y: auto;
}
